<header>
  Kanban Board
</header>
<main>
  <div
  class="main" 
  cdkDropList
  [cdkDropListData]="lists"
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
    <div class="col" *ngFor="let list of lists; index as listIdx" cdkDrag>
        <mat-card class="list-card">
            <h2>
              {{list.name}} {{list.jobs.length? "(" + list.jobs.length + ")": ""}}
              <button mat-icon-button (click)="deleteList(listIdx)"><mat-icon>delete</mat-icon></button>
            </h2>
          <!-- [cdkDropListConnectedTo]="['list1']" -->
            <div
              cdkDropList
              [id]="'list_' + listIdx"
              [cdkDropListData]="list.jobs"
              [cdkDropListConnectedTo]="cdkDropListConnectedTo(listIdx)"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of list.jobs; index as jobIdx" cdkDrag>
                {{item}}
                <button mat-icon-button (click)="deleteItem(listIdx, jobIdx)"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="add job" [(ngModel)]="list.nameJobs">
              </mat-form-field>
            <button mat-raised-button color="primary" (click)="addItem(listIdx)">add</button>
          </mat-card>
    </div>
    <div class="col">
        <mat-card class="addlist-card">
          <h2>Add a list</h2>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="list name" [(ngModel)]="nameList">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="job limit  " [(ngModel)]="limitJob">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addList()">add</button>
        </mat-card>
          
      </div>
  </div>

  
</main>